<div class="container">
  <h3>Formulario de registro</h3>
  <form id="formulario" *ngIf="!submitted">
    <h5>Datos Personales</h5>
    <div id="datosPersonales">
      <div class="form-group" id="divNombre">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Nombre"
          maxlength="50"
          [(ngModel)]="usuario.nombre"
          name="nombre"
        />
      </div>
      <div class="form-group" id="divApellidos">
        <label for="apellidos">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="apellidos"
          placeholder="Apellidos"
          maxlength="50"
          [(ngModel)]="usuario.apellidos"
          name="apellidos"
        />
      </div>

      <div class="form-group" id="divEmail">
        <label for="email">Dirección de correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="example@mail.com"
          maxlength="50"
          [(ngModel)]="usuario.email"
          name="email"
        />
      </div>
    </div>
    <h5>Datos Web</h5>
    <div id="datosWeb">
      <div class="form-group" id="divLogin">
        <label for="login">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="login"
          placeholder="Usuario"
          maxlength="10"
          [(ngModel)]="usuario.login"
        name="login"
        />
      </div>

      <div class="form-group" id="divPassword">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          [(ngModel)]="usuario.password"
          name="password"
        />
      </div>
    </div>
    <div id="botones">
    <button id="submit" type="button" (click)="submit()" class="btn btn-primary">Registrarse</button>
    <button id="back" type="button" class="btn btn-info" (click)="volver()">Volver</button>
</div>
</form>
<div *ngIf="submitted"><p>Se ha enviado un correo electrónico de confirmación a {{usuario.email}}</p>
  <button id="back" type="button" class="btn btn-info" (click)="volver()">Volver</button></div>
</div>
