form {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
}

.container{
  text-align: center;
}

h5{
    color: darkgrey;
}
#datosPersonales {
  display: grid;
  border: 1px solid darkgray;
  padding: 2%;
  margin-bottom: 1%;
}
#datosWeb {
    display: grid;
    border: 1px solid darkgray;
    padding: 2%;
    margin-bottom: 1%;

  }
input {
  width: fit-content;
}

#divNombre {
  grid-row: 1;
  grid-column: 1;
}

#divApellidos {
  grid-row: 1;
  grid-column: 2;
}

#divEmail {
  grid-row: 2;
  grid-column: 1 / span 2;
}

#email {
  width: 17em;
}

#divMovil{
  grid-row: 2;
}

#submit {
  text-align: center;
  width: fit-content;
  background-color: #2B757F;
  border: none;
}

#back{
  margin-left: 5%;
  border: none;
  background-color: #2B6D81;
}

#email{
  border: 2px solid red;
}

#errorEmail{
  margin-left: 1%;
  font-size: 70%;
  color: rgb(236, 88, 88);
}