<div class="container">
  <h3>Nueva Entrada</h3>
  <form id="formulario">
    <div class="form-group" id="divTitulo">
      <label for="titulo">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        placeholder="Titulo"
        maxlength="50"
      />
    </div>
    <div class="form-group" id="divTexto">
      <label for="texto">Apellidos</label>
      <textarea id="texto" rows="4" cols="50" placeholder="Contenido"> </textarea>
    </div>

    <div id="botones">
      <button
        id="submit"
        type="button"
        (click)="submit()"
        class="btn btn-primary"
      >
        Enviar
      </button>
      <button id="back" type="button" class="btn btn-info" (click)="volver()">
        Volver
      </button>
    </div>
  </form>
</div>
