#main{
    height: 10%;
    padding-top: 2em;
    padding-bottom: 0.5em;
    background-color: #2B6A81;
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
}

img{
    width: inherit;
}

#fill{
    width:inherit;
    background-color: #2B6A81;

}