<div class="container">
  <div *ngIf="evento">
    <div *ngIf="!varBorrarTrabajo; else menuBorrarTrabajo">
      <div *ngIf="detalles; else modificar">
        <div *ngIf="menuDetalles; else borrar">
          <h4>Detalles del evento</h4>
          <div id="detalles">
            <div class="atributo">
              <div class="titulo">Nombre:</div>
              {{ evento.nombre }}
            </div>
            <div class="atributo">
              <div class="titulo">Lugar:</div>
              {{ evento.lugar }}
            </div>
            <div class="atributo">
              <div class="titulo">Fecha:</div>
              {{ evento.fecha | date: "longDate":"es-EA" }}
            </div>
            <div class="atributo">
              <div class="titulo">
                Trabajadores necesarios:
              </div>
              {{ evento.capacidad }} trabajadores
            </div>
            <div *ngIf="adminPrivileges">
              <p class="titulo">Listado de trabajadores:</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Horas</th>
                    <th scope="col" *ngIf="adminPrivileges">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trabajo of trabajos">
                    <th scope="row">{{ trabajo.usuario.id }}</th>
                    <td>{{ trabajo.usuario.nombre }}</td>
                    <td>{{ trabajo.rol.nombre }}</td>
                    <td>{{ trabajo.horas }}</td>
                    <td *ngIf="adminPrivileges">
                      <button
                        class="btn btn-info btn-accion"
                        [routerLink]="['/userdetails', trabajo.usuario.id]"
                      >
                        Detalles trabajador
                      </button>
                      <button
                        class="btn btn-info btn-accion"
                        (click)="modificarTrabajo(trabajo.id)"
                      >
                        Modificar
                      </button>
                      <button
                        class="btn btn-info btn-accion"
                        type="button"
                        (click)="showMenuBorrarTrabajo(trabajo.id)"
                      >
                        Borrar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="btnEventDetails">
              <button
                type="button"
                class="btn btn-info"
                [disabled]="trabajos?.length >= evento.capacidad"
                (click)="apuntarse()"
                id="btnQuieroIr"
                *ngIf="userPrivileges"
              >
                ¡Quiero ir!
              </button>
              <button
                type="button"
                id="btnShowModificar"
                (click)="showModificar()"
                class="btn btn-info"
                *ngIf="adminPrivileges"
              >
                Modificar
              </button>
              <button
                type="button"
                class="btn btn-info btn-delete"
                id="btnBorrar"
                [hidden]="!adminPrivileges"
                (click)="showBorrar()"
              >
                Borrar
              </button>
            </div>
            <div id="formTrabajo" hidden>
              <div id="controls">
                <div class="form-group" id="divPuesto">
                  <label for="selectRol">Puesto:</label>

                  <select
                    name="selectRol"
                    id="selectRol"
                    class="form-control"
                    [(ngModel)]="seleccionado"
                    required
                  >
                    <option selected>Seleccione un rol</option>
                    <option *ngFor="let rol of roles" value="{{ rol.id }}"
                      >{{ rol.nombre }} - {{ rol.sueldo }}€/h</option
                    >
                  </select>
                </div>
                <div class="form-group" id="divHoras">
                  <label for="horas">Horas:</label>
                  <div id="inputHoras">
                    <input
                      class="form-control"
                      placeholder="0"
                      min="1"
                      type="number"
                      name="horas"
                      id="horas"
                      [(ngModel)]="horas"
                    />
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-info"
                (click)="solicitud()"
                id="btnSolicitud"
              >
                Enviar solicitud
              </button>
            </div>
          </div>
        </div>
   
        <ng-template #borrar>
          ¿Desea borrar el evento <b>{{ evento.nombre }}</b
          >?
          <p>
            Se borrarán todos los registros de trabajo asociados a este evento.
          </p>

          <button
            type="button"
            id="cancelar"
            class="btn btn-info"
            (click)="cancelar()"
          >
            Cancelar
          </button>
          <button
            type="button"
            id="btnBorrarEv"
            class="btn btn-info"
            (click)="borrarEvento()"
          >
            Borrar
          </button>
        </ng-template>
      </div>
      <ng-template #modificar>
        <form
          name="form"
          id="form"
          #f="ngForm"
          novalidate
          (ngSubmit)="submit()"
        >
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              [(ngModel)]="evento.nombre"
              name="nombre"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="lugar">Lugar:</label>
            <input
              type="text"
              [(ngModel)]="evento.lugar"
              name="lugar"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input
              type="date"
              [(ngModel)]="evento.fecha"
              name="fecha"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="capacidad">Capacidad:</label>
            <input
              type="number"
              [(ngModel)]="evento.capacidad"
              name="capacidad"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-info" #submitBtn id="submit">
            Actualizar
          </button>
        </form>
      </ng-template>
    
    </div>
    <ng-template #menuBorrarTrabajo>
      <div>¿Desea borrar el siguiente trabajo?</div>
      <div id="datosBorrado">
        <div><b> Trabajador: </b>{{ trabajo.usuario.nombre }}</div>
        <div>
          <b> Evento: </b>{{ trabajo.evento.nombre }}
          <b id="fecha"> Fecha: </b
          >{{ trabajo.evento.fecha | date: "shortDate" }}
        </div>
        <div><b> Puesto:</b> {{ trabajo.rol.nombre }}</div>
      </div>
      <button
        type="button"
        (click)="borrarTrabajo(trabajo.id)"
        class="btn btn-info"
      >
        Borrar
      </button>
      <button
        type="button"
        (click)="cancelarBorrarTrabajo()"
        class="btn btn-info"
      >
        Cancelar
      </button>
    </ng-template>
    <button routerLink="/eventlist" id="btnBack" class="btn btn-info back">
      Volver
    </button>
  </div>
</div>
