<div class="container">
  <h4>Detalles del evento</h4>
  <div id="detalles">
    <div>Nombre:</div>
    <div>Lugar:</div>
    <div>Fecha:</div>
    <div>Capacidad: personas</div>
    <p>Listado de trabajadores:</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cargo</th>
        <th scope="col">Horas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>MangaFest</td>
        <td>Sevilla</td>
        <td>Sevilla</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Boda Antonio</td>
        <td>Mairena del Aljarafe</td>
        <td>Sevilla</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Comunión Ignacio</td>
        <td>Brenes</td>
        <td>Sevilla</td>
      </tr>
    </tbody>
  </table>
</div>
