.atributo{
  display: flex;
  flex-direction: row;
}

.titulo{
  margin-right: 1%;
  font-weight: bold;
  color: rgb(236, 184, 167);
}

table {
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: 20%;
}

thead {
  background-color: #2B6383;
  color: #e9fef3;
}
tbody {
  font-size: 0.9em;
  color: lightgrey;
}

th{
    font-weight: bold;
    color: darkslategray;
}

thead > tr > th{
    color: lightgrey;
    font-size: 0.93em;
}
tr{
    padding-top: 0.2em;
}

#detalles{
    margin-left: 10%;
    text-align: left;
}

h4{
    text-align: center;
}

tbody>tr:hover{
  background-color:#1f5a46;
}

#formTrabajo{
  display: flex;
  border: darkgrey 2px solid;
  padding: 1%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
}

button{
  width: fit-content;
  border: none;
}
#selectRol{
  margin-bottom: 2%;
  width: fit-content;
  border: none;
}

#controls{
  display: flex;
  flex-direction: row;

}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divPuesto{
  margin-right: 1%;
}

#divHoras{
  margin-left: 1%;
}

#horas{
  width: 4.4em;
}

#inputHoras{
  display: flex;
  flex-direction: row;
}

input{
  width: 15em;
}

#submit{
  background-color: #2C5985;

}

#submit:hover{
  background-color: rgb(29, 58, 87);
}

#btnEventDetails{
  align-items: center;
  margin-left: 30%;
}

#btnQuieroIr{
  background-color: #2C5985;
  margin-right: 2%;
}

#btnQuieroIr:hover{
  background-color: rgb(29, 58, 87);
}

#btnShowModificar{
  margin-left: 2%;
  margin-right: 2%;
  background-color: #2C5985;
}

#btnShowModificar:hover{
  background-color: rgb(29, 58, 87);
}

#btnSolicitud{
  background-color: #2C5985;
}

#btnSolicitud:hover{
  background-color: rgb(29, 58, 87);
}

.btn-delete{
  background-color: #2C5985;
  margin-left: 2%;
}

.btn-delete:hover{
  background-color: rgb(33, 66, 100);
}

#btnBorrarEv{
  margin-right: 4%;
  background-color: #2A7445;
}

#btnBorrarEv:hover{
  background-color: rgb(28, 75, 45);
}

#cancelar{
  margin-left: 4%;
  background-color: #2C5386;
}

#cancelar:hover{
  background-color: rgb(26, 50, 80);
}

#btnBack{
  margin-top: 2%;
}

#datosBorrado{
  display: flex;
  flex-direction: column;
justify-content: left;
  text-align: left;
  margin-left: 40%;
}

#fecha{
  margin-left: 10px;
}

.btn-accion{
  height: 2.3em;
  font-size: 85%;
  margin-left: 2%;
  background-color: #2B6D81;
}

.btn-accion:hover{
  background-color: rgb(28, 72, 85);
}