form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  width: 10em;
}

h4 {
  text-align: center;
}
#formularioLogin {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#btnLogin {
  text-align: center;
  width: fit-content;
  background-color: #2b757f;
  border: none;
}

a{
    color:whitesmoke;
}

a:hover{
    color: #2C5386;
    text-decoration: none;
}

.form-check{
  display: inline;
}

#divRemember{
  display: flex;
  flex-direction: row;
}

#form-check-input{
  margin-left: 1%;
  margin-right: 2%;
}

#remember{
  margin-left: 1%;
}