<div class="container" *ngIf="usuario; else error">
    <h4>Detalles del usuario</h4>
    <div id="detalles">
      <div>Nombre: {{usuario.nombre}}</div>
      <div>Email: {{usuario.email}}</div>
      <div>Login: {{usuario.login}}</div>
      <div>Contraseña: {{usuario.password}}</div>
      <div>Nivel de Acceso: {{usuario.acceso}}</div>
      <p>Listado de eventos:</p>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cargo</th>
          <th scope="col">Horas</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/eventdetails">
          <th scope="row">1</th>
          <td>MangaFest</td>
          <td>Sevilla</td>
          <td>Sevilla</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Boda Antonio</td>
          <td>Mairena del Aljarafe</td>
          <td>Sevilla</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Comunión Ignacio</td>
          <td>Brenes</td>
          <td>Sevilla</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-info"><img src="https://cdn4.iconfinder.com/data/icons/file-extension-names-vol-8/512/24-512.png" class="icon" width="25px"/>&nbsp;Descargar datos (PDF)</button>
  </div>

  <div class="container">
    <ng-template #error>
      No tiene los permisos requeridos. Por favor <a routerLink="/login">identifíquese</a> o <a routerLink="/userform">cree una cuenta</a>.
    </ng-template>
    <button type="button" id="back" class="btn btn-info"(click)="volver()">Volver</button>
  </div>
  