<div class="container">
    <h4>Detalles del usuario</h4>
    <div id="detalles">
      <div>Nombre:</div>
      <div>Email:</div>
      <div>Login:</div>
      <div>Contraseña:</div>
      <div>Nivel de Acceso:</div>
      <p>Listado de eventos:</p>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cargo</th>
          <th scope="col">Horas</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/eventdetails">
          <th scope="row">1</th>
          <td>MangaFest</td>
          <td>Sevilla</td>
          <td>Sevilla</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Boda Antonio</td>
          <td>Mairena del Aljarafe</td>
          <td>Sevilla</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Comunión Ignacio</td>
          <td>Brenes</td>
          <td>Sevilla</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-info"><img src="https://cdn4.iconfinder.com/data/icons/file-extension-names-vol-8/512/24-512.png" class="icon" width="25px"/>&nbsp;Descargar datos (PDF)</button>
  </div>
  