#tabla{
    text-align: center;
}

table{
    background-color: #E9FEF3;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

thead{
    background-color: #68848F;
    color: #E9FEF3;
}



th{
    border: none;
}

td{
    padding-left: 2em;
    padding-right: 2em;
}