<div *ngIf="eventos">
  <div class="container" id="tabla">
    <h4>Lista de eventos</h4>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Lugar</th>
            <th scope="col">Fecha</th>
            <th scope="col">Capacidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of eventos | async" [routerLink]="['/eventdetails', evento.id]">
            <th scope="row">{{ evento.id }}</th>
            <td>{{ evento.nombre }}</td>
            <td>{{ evento.lugar }}</td>
            <td>{{ evento.fecha | date: "shortDate" }}</td>
            <td>{{ evento.capacidad }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      type="button"
      class="btn btn-info btn-details"
      [hidden]="!adminPrivileges"
      routerLink="/eventform"
    >
      Crear evento
    </button>
    <button
      type="button"
      class="btn btn-info btn-details"
      [hidden]="!adminPrivileges"
      routerLink="/rolform"
    >
      Crear rol
    </button>
  </div>
</div>
