input {
  width: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divSueldo {
  display: flex;
  flex-direction: row;
}

#sueldo {
  width: 60%;
  margin-left: 10%;
}

#submit {
  background-color: #2C5985;
  margin-right: 5%;
  border: none;
}

#submit:hover{
    background-color: rgb(33, 66, 100);
}

#botones{
    display: flex;
    flex-direction: row;
}