<div class="container">
  <div *ngIf="!emailEnviadoOk; else enviado">
    <form
      novalidate
      *ngIf="!submitted"
      (ngSubmit)="f.valid && submit()"
      #f="ngForm"
    >
      <div class="form-group">
        <label for="email">Por favor, introduzca su email</label>
        <input
          type="email"
          placeholder="example@mail.com"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        />
      </div>
      <button type="submit" #submitBtn class="btn btn-info back">
        Reestablecer contraseña
      </button>
    </form>
  </div>
  <ng-template #enviado>
      Se ha enviado un email con la nueva contraseña a la dirección proporcionada.
  </ng-template>
</div>
