<p>Esta es una versión preliminar del TFG de José Joaquín Magaña. Para garantizar el funcionamiento, un usuario cuando confirma por correo electrónico automáticamente se le otorga el acceso 'administrador'.</p>
<p>Dicha funcionalidad no estará presente en la versión definitiva, por lo que cuando confirme, tendrá el acceso 'usuario', solo pudiendo modificarlo otro usuario con acceso 'administrador'.</p>

<p>Tampoco está disponible la modificación y eliminación de los siguientes campos:</p>
<ul><li>Rol</li>
    <li>Evento</li>
    <li>Post</li>
<li>Trabajo</li></ul>
    
<p>Próximamente estará disponible una versión con más funcionalidades.</p>

<p>Versión 1.0 (02/05/2020)</p>