table {
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: 15%;
}

thead {
  background-color: #2b6383;
  color: #e9fef3;
}
tbody {
  font-size: 0.9em;
  color: lightgrey;
}

th {
  font-weight: bold;
  color: darkslategray;
}

thead > tr > th {
  color: lightgrey;
  font-size: 0.93em;
}

tbody>tr:hover{
    background-color:#1f5a46;
    cursor: pointer;
}

tr {
  padding-top: 0.2em;
}

h4 {
  text-align: center;
  margin-bottom: 2%;
}

.login {
  width: 7em;
}
.nombre {
  width: 15em;
}

#select {
  width: 12em;
  margin-right: 15%;
  margin-left: auto;
}

#inputText {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
#textSearch {
  display: inline;
  margin-right: 0;
}

#filtros {
  display: flex;
  align-content: space-between;
}

#busqueda {
  width: fit-content;
  border: none;
  background-color: #2B5D84;
}
#busqueda:hover{
    background-color: rgb(34, 71, 99);
}
#bloqueBuscar {
  display: flex;
  flex-direction: row;
}

